[run]
source = hpack
branch = True

[paths]
source =
    h2/
    .tox/*/lib/python*/site-packages/h2
    .tox/pypy*/site-packages/h2

[report]
fail_under = 100
show_missing = True
omit =
    hpack/compat.py
    hpack/hpack_compat.py
